{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}"/>
<script src="{{ url_for('static', filename='create-step-1.js') }}"></script>
{% endblock head %}

{% block main %}
<form id="step-1" method="POST" action="{{ url_for('.create_step_2') }}">
    <h1>Step 1: Select Songs</h1>

    <p>
        Select the songs to include in the slideshow by their title and artist.
    </p>

    <template id="row-template">
        <tr>
            <td></td>
            <td>
                <input name="title-" placeholder="Song title"
                    aria-label="Song title" required/>
            </td>
            <td>
                <input name="artist-" placeholder="Song artist"
                    aria-label="Song artist"/>
            </td>
            <td>
                <button class="icon" type="button" title="Remove">
                    <img src="{{ url_for('static', filename='trash.svg') }}"
                        alt="Remove icon"/>
                </button>
            </td>
        </tr>
    </template>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="songs">
            <tr>
                <td>1.</td>
                <td>
                    <input type="text" name="title-1" placeholder="Song title"
                        aria-label="Song title" required/>
                </td>
                <td>
                    <input type="text" name="artist-1"
                        placeholder="Song artist" aria-label="Song title"/>
                </td>
                <td>
                    <button class="icon" type="button" onclick="remove_song(1)"
                       title="Remove">
                        <img src="{{ url_for('static', filename='trash.svg') }}"
                            alt="Remove icon"/>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <input type="button" value="Add song" onclick="add_song()"/>
                </td>
            </tr>
        </tfoot>
    </table>

    <div id="actions">
        <button type="submit">
            Next
        </button>
    </div>
</form>

<div id="post-submit" class="loading-modal" hidden>
    <div>
        <p>Loading your song lyrics...</p>
        <div class="spinner"></div>
    </div>
</div>
{% endblock main %}
