{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}"/>
<script src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock head %}

{% set format_hint =
'Each stanza will appear on its own slide. ' +
'Stanzas must be separated by one blank line. ' +
'Three blank lines represent an empty slide.'
%}

{% block main %}
<form method="POST" action="{{ url_for('.create_step_3') }}">
    <h1>Step 2: Review Lyrics</h1>
    <p>
        Review the parsed song lyrics below and make any necessary corrections.
    </p>
    <p>
        {{ format_hint }}
    </p>

    {% if missing > 0 %}
    <p>
        Lyrics must be entered manually for <strong>{{ missing }}
        song{% if missing != 1 %}s{% endif %}</strong>.
    </p>
    {% endif %}

    <div>
        {% for song in songs %}
        <details
            {% if missing == 0 and loop.index == 1 %} open {% endif %}
            {% if not song.lyrics %} open class="missing" {% endif %}>

            <input hidden name="title-{{ loop.index }}"
                value="{{ song.title }}"/>
            <input hidden name="artist-{{ loop.index }}"
                value="{{ song.artist }}"/>

            <summary>
                <i>{{ song.title }}</i>

                {% if song.artist %}
                ({{ song.artist }})
                {% endif %}

                {% if not song.lyrics %}
                <span>lyrics not found</span>
                {% endif %}
            </summary>

            {% if song.lyrics %}
            <textarea name="lyrics-{{ loop.index }}" placeholder="{{format_hint}}"
                aria-label="{{ song.title }} Lyrics">{{ song.lyrics }}</textarea>
            {% else %}
            <textarea name="lyrics-{{ loop.index }}" placeholder="{{
                'Lyrics not found, please enter them here manually.\n\n' +
                format_hint }}" aria-label="{{ song.title }} Lyrics"></textarea>
            {% endif %}
        </details>
        {% endfor %}
    </div>

    <div id="actions">
        <input onclick="history.back()" type="button" value="Back"/>
        <button type="submit">
            Next
        </button>
    </div>
</form>

<div id="post-submit" class="loading-modal" hidden>
    <div>
        <p>Updating your song lyrics...</p>
        <div class="spinner"></div>
    </div>
</div>

<script>
    const STEP = 2
</script>
{% endblock main %}
