<!DOCTYPE html>
<html>
    <head>
        <title>Songs2Slides</title>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"></link>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    </head>
    <body onload="AddSong()">
        <label id="title">Songs2Slides</label>
        <br/>
        <label>Create a lyrics powerpoints from a list of songs.</label>
        <br/><br/>

        <div id="songs">
            <button onclick="AddSong();">Add song</button>
            <button onclick="SubmitSongs();">Create Powerpoint</button>
            <button onclick="ReviewLyrics();">Review Lyrics</button><br/><br/>
            
            <template id="songTemplate">
                <div>
                    <input type="text" class="title" placeholder="Song Title"/>
                    <input type="text" class="artist" placeholder="Song Artist"/>
                    <a id="remove" class="songRemove">╳</a>
                </div>
            </template>
        </div>

        <div id="lyricsContainer" hidden>
            Review and edit the parsed lyrics below and then click the create PowerPoint button.
            One blank line signifies a new slide and three blank lines signifies a blank slide.<br/><br/>
            
            <textarea rows="10" id="lyrics">Loading lyrics...</textarea><br/>
            <button id="submitLyricsButton" onclick="SubmitLyrics();">Create Powerpoint</button>
            <a id="lyricsBack" href="javascript:Reset()">Back</a>
        </div>
    </body>
</html>