<!DOCTYPE html>
<html>
    <head>
        <title>Songs2Slides</title>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"></link>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    </head>
    <body onload="onLoad();">
        <h1>Songs2Slides</h1>

        <div id="songsContainer" class="container">
            <h3>Choose your songs</h3>

            <template id="songTemplate">
                <div class="song">
                    <input type="text" class="title" placeholder="Song Title"/>
                    <input type="text" class="artist" placeholder="Song Artist"/>
                    <a id="remove" class="songRemove">╳</a>
                </div>
            </template>
            <div id="songs"></div>

            <div>
                <span id="addSong" onclick="AddSong();">+</span>
            </div>

            <div id="songsButtons">
                <a href="javascript:showSettings();">Settings</a>
                <button id="reviewButton" onclick="ReviewLyrics();">Next</button>
            </div>
        </div>

        <form id="lyricsContainer" class="container" hidden action="/pptx" method="POST" enctype="multipart/form-data">
            <input type="text" id="pptxSettingsField" name="settings" hidden>
            <input type="text" id="lyricsField" name="lyrics" hidden>

            <h3>Review your PowerPoint</h3>

            <p>Review and edit the parsed lyrics below and then click the create PowerPoint button.</p>
            <p>One blank line represents the start of a new slide and three blank lines represent a blank slide.</p>
            
            <textarea rows="15" id="rawLyrics"></textarea>

            <div id="fileUpload">
                <label>Starting PowerPoint (optional): </label>
                <input type="file" name="pptxFile">
            </div>

            <p id="errors"></p>

            <div id="lyricsButtons">
                <a id="lyricsBack" href="javascript:Back()">Back</a>
                <button id="submitLyricsButton" onclick="SubmitLyrics()">Create Powerpoint</button>
            </div>
        </form>

        <div id="thankyou" hidden>
            <p>Thankyou for using Songs2Slides</p>
            <p>Click <a href="javascript:Reset()">here</a> to create another PowerPoint.</p>
        </div>

        <div id="settings" class="container" hidden>
            <h3>Parsing:</h3>
            <div>
                Add title slides:
                <input type="checkbox" id="title-slides" onchange="saveSettings();"/>
            </div>
            <div>
                Default lines per slide:
                <input type="number" id="lines-per-slide" onchange="saveSettings();"/>
            </div>
            <div>
                Remove content in parentheses: 
                <input type="checkbox" id="remove-parentheses" onchange="saveSettings();"/>
            </div>

            <h3>Slide settings</h3>
            <div>
                Width (Inches):
                <input type="number" id="slide-width" onchange="saveSettings();"/>
            </div>
            <div>
                Height (Inches):
                <input type="number" id="slide-height" onchange="saveSettings();"/>
            </div>
            <div>
                Background color:
                <input type="color" id="slide-color" onchange="saveSettings();"/>
            </div>

            <h3>Margin settings</h3>
            <div>
                Left (Inches):
                <input type="number" id="margin-left" onchange="saveSettings();"/>
            </div>
            <div>
                Right (Inches):
                <input type="number" id="margin-right" onchange="saveSettings();"/>
            </div>
            <div>
                Top (Inches):
                <input type="number" id="margin-top" onchange="saveSettings();"/>
            </div>
            <div>
                Bottom (Inches):
                <input type="number" id="margin-bottom" onchange="saveSettings();"/>
            </div>

            <h3>Font settings</h3>
            <div>
                Family:
                <input id="font-family" list="fonts" onchange="saveSettings();">
                <datalist id="fonts">
                    <option>Arial</option>
                    <option>Century</option>
                    <option>Century Gothic</option>
                    <option>Calibri</option>
                    <option>Comic Sans MS</option>
                    <option>Courier New</option>
                    <option>Georgia</option>
                    <option>Impact</option>
                    <option>Rockwell</option>
                    <option>Segoe UI</option>
                    <option>Tahoma</option>
                    <option>Times New Roman</option>
                    <option>Trebuchet MS</option>
                    <option>Verdana</option>
                </datalist>
            </div>
            <div>
                Size:
                <input type="number" id="font-size" onchange="saveSettings();"/>
            </div>
            <div>
                Bold:
                <input type="checkbox" id = "font-bold" onchange="saveSettings();"/>
            </div>
            <div>
                Italic:
                <input type="checkbox" id="font-italic" onchange="saveSettings();"/>
            </div>
            <div>
                Color:
                <input type="color" id="font-color" onchange="saveSettings();"/>
            </div>

            <h3>Pharagraph settings</h3>
            <div>
                Vertical Alignment:
                <select id="vertical-alignment" onchange="saveSettings();">
                    <option>Top</option>
                    <option>Middle</option>
                    <option>Bottom</option>
                </select>
            </div>
            <div>
                Line spacing:
                <input type="number" id="line-spacing" onchange="saveSettings();"/>
            </div>
            <div>
                Word wrap:
                <input type="checkbox" id="word-wrap" onchange="saveSettings();"/>
            </div>

            <div id="settingsFooter">
                <a href="javascript:Back();">Back</a>
                <button id="resetButton" onclick="resetSettings();">Reset</button>
            </div>
        </div>
    </body>
</html>