<!DOCTYPE html>
<html>
    <head>
        <title>Songs2Slides</title>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"></link>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    </head>
    <body onload="AddSong()">
        <label id="title">Songs2Slides</label>

        <div id="songs">
            <div id="songsButtons">
                <button onclick="AddSong();">Add song</button>
                <button onclick="SubmitSongs();">Create Powerpoint</button>
                <button onclick="ReviewLyrics();">Review Lyrics</button>
            </div>
            
            <template id="songTemplate">
                <div class="song">
                    <input type="text" class="title" placeholder="Song Title"/>
                    <input type="text" class="artist" placeholder="Song Artist"/>
                    <a id="remove" class="songRemove">╳</a>
                </div>
            </template>
        </div>

        <div id="lyricsContainer" hidden>
            <p>Review and edit the parsed lyrics below and then click the create PowerPoint button.
            One blank line signifies a new slide and three blank lines signifies a blank slide.</p>
            
            <textarea rows="15" id="lyrics">Loading lyrics...</textarea>

            <div>
                <a id="lyricsBack" href="javascript:Back()">Back</a>
                <button id="submitLyricsButton" onclick="SubmitLyrics();">Create Powerpoint</button>
            </div>
        </div>

        <div id="thankyou" hidden>
            <p>Thankyou for using Songs2Slides</p>
            <p>Click <a href="javascript:Reset()">here</a> to create another PowerPoint.</p>
        </div>
    </body>
</html>