/* step 1 and 2 */
#actions {
    margin-top: 2rem;
}
#actions :last-child {
    float: right;
}

/* step 1 */
table {
    width: 100%;
    border-collapse: collapse;
}
tbody input {
    width: 100%;
}
tbody td {
    padding: 0.2rem;
}
tfoot td {
    padding-top: 1rem;
    text-align: center;
}

.loading-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #80808080;
}
.loading-modal > div {
    margin: 10rem auto;
    padding: 1rem;
    width: 300px;
    text-align: center;
    background: var(--background1);
    border-radius: 0.5rem;
}

.spinner {
  display: inline-block;
}
.spinner:after {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.3rem solid;
  border-color: var(--foreground) var(--foreground) var(--foreground) transparent;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* step 2 */
#missing-message {
    font-style: italic;
}

details {
    margin-bottom: 1rem;
}
textarea {
    margin: 0.5rem 0;
    width: 100%;
    height: 15rem;
    resize: vertical;
}

.missing summary {
    color: var(--error);
}
summary span {
    display: none;
}
.missing summary span {
    display: inline;
    float: right;
    font-weight: bold;
}

fieldset {
    border: none;
    margin-top: 1rem;
}
label {
    display: block;
    margin-top: 0.5rem;
}
