/******** Variable styles ********/
:root {
    --theme-color: #ffff50;
    --foreground-color: #000000;
    --background-color: #ffffff;
    --container-color: #f0f0f0;
}



/******** Global styles ********/
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
    margin-top: 80px;
    color: var(--foreground-color);
    background-color: var(--background-color);
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--theme-color);
}


.container {
    margin: auto;
    padding: 10px;
    background-color: var(--container-color);
}

button {
    height: 25px;
}
