/******** Variable styles ********/
:root {
    --song-color: #C0C0C0;
    --error-color: #E00000;
}



/******** Songs styles ********/
#songsContainer {
    width: fit-content;
    width: -moz-fit-content;
}

h3 {
    margin-top: 0px;
}

.song {
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    background: var(--song-color);
    border-radius: 5px;
}

.songRemove {
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}

#addSong {
    display: inline-block;
    padding: 0px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 40px;
    background-color: var(--song-color);
    border: none;
    border-radius: 50%;
    cursor: pointer
}

#songsButtons {
    margin-top: 15px;
    height: 25px;
    text-align: left;
}

#reviewButton {
    float: right;
}



/******** Lyrics styles ********/
#lyricsContainer {
    max-width: 500px;
}

#lyricsContainer p {
    text-align: left;
}

#rawLyrics {
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#fileUpload {
    text-align: left;
    margin-top: 5px;
}

#errors {
    margin-top: 15px;
    color: var(--error-color);
    font-weight: bold;
}

#lyricsButtons {
    margin-top: 15px;
    text-align: left;
    height: 25px;
}

#submitLyricsButton {
    float: right;
}
