/******** Body styles ********/
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
    margin-bottom: 50px;
}

#footer {
    position: fixed;
    bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    background-color: #FFFFFF;
}



/******** Element styles ********/
button {
    height: 25px;
}



/******** Songs styles ********/
#songsButtons {
    margin-bottom: 15px;
}

.song {
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    background: #E0E0E0;
    border-radius: 5px;
}

.songRemove {
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}



/******** Lyrics styles ********/
#lyricsContainer {
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: left;
}

#lyricsContainer p {
    margin-top: 0px;
}

#lyrics {
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#submitLyricsButton {
    float: right;
}

#lyricsBack {
    float: left;
}



/******** Settings styles ********/
#settings {
    max-width: 300px;
    margin: auto;
    text-align: left;
    line-height: 30px;
    background-color: #F0F0F0;
    padding: 10px;
}

h3:first-child {
    margin-top: 0px;
}

h3 {
    margin-bottom: 0px;
}

input[type="number"] {
    width: 75px;
}

#settingsFooter {
    margin-top: 15px;
}

#resetButton {
    float: right;
}