/******** Settings styles ********/
#settings {
    max-width: 300px;
    text-align: left;
    line-height: 30px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h4:first-of-type {
    margin-top: 0px;
}

h4 {
    margin-bottom: 0px;
}

input[type="number"] {
    width: 75px;
}

#settingsFooter {
    margin-top: 15px;
}

#resetButton {
    float: right;
}
